.container{
    position: relative;
    
    
   
}

.Cup {
    width: 20vmin;
    height: 32vmin;
    position: relative;
    background: white;
    border-radius: 2vmin;
    padding-top: 1px;
    margin-left:auto;
    margin-right:auto;
}
.Cup:before, 
.Cup:after {
    position: absolute;
    content: '';
}
.Cup:before {
        z-index: -2;
        left: 12vmin;
        top: 6vmin;
        width: 15vmin;
        height: 17vmin;
        border-radius: 19%;
        background: white;
   }

    .Cup:after {
        z-index: -1;
        width: 12vmin;
        height: 13vmin;
        top: 8vmin;
        left: 13vmin;
        background: #f83a86;
        border-radius: 19%;
    }

:root{
    --height: 0;
}
.beer {
    margin-top: 1.5vmin;
    margin-left: 2vmin;
    width: 16vmin;
    background-color: #a37d15;
    height: var(--height);
    border-radius: 1vmin;
}

