@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&family=Raleway:wght@900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css");


.titleCard {
  padding: 10%;
  font-family: 'Raleway';
  font-size: 50px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  animation-name: welcome;
  animation-duration: 0.5s;
}

.welcomeButton {
  opacity: 0;
  padding: 2%;
  margin-top: 5%;

  border-radius: 9px;
  background-color: #347dc5;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 800;
  color: white;
  border: none;
  bottom: 20%;
  animation: button 1s forwards;
  animation-delay: 0.5s;

  transition-duration: 0.2s;

  outline: none;
}

.welcomeButton:hover {
  background-color: #c3d9ef;
  color: black;
  cursor:pointer;
}

.startButton {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%);
  background: #347DC5;
  border-radius: 9px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  color: #FFFFFF;
  outline: none;
  transition-duration: 0.2s;
}

    .startButton:hover {
        background-color: #c3d9ef;
        color: black;
        cursor: pointer;
    }

.cup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 200px solid lightblue;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0px;
  width: 100px;
}


@keyframes welcome {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes button {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.p {
  margin-top: 5%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  top: 84px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}


.submit {
  background: #347DC5;
  border-radius: 9px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  align-items: center;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  color: #FFFFFF;
  outline: none;
  transition-duration: 0.2s;
}

.submit:hover {
  background-color: #c3d9ef;
  color: black;
  cursor: pointer;
}

.form {
  font-family: "Poppins";
  font-size: 30px;
  text-align: center;
  color: white;
}

.height_ft {
  padding: 1%;
  font-family:"Poppins";
  font-size: 20px;
}

.height_in {
    padding: 1%;
    font-family: "Poppins";
    font-size: 20px;
}

.substance {
    padding: 1%;
    font-family: "Poppins";
    font-size: 20px;
}

.card {
  max-width: 500px;
  background-color: white;
  text-align: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 3% 1% 3%;
}

CupSimulator {
  margin: 100px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ffc100;
  border-left: 100px solid transparent;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}

.stop {
    height: 0px;
    width: 0px;

    animation: expand 0.5s forwards;
}

@keyframes expand{
    0% {
        margin-top: 150px;
    }
    100% {
        margin-top: 0px;
        height: 500px;
        width: 500px;
    }
}

.home {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%);
    background: none;
    border: 1px solid #ffadce;
    border-radius: 9px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    color: #ffadce;
    outline: none;
    transition-duration: 0.2s;
}

.home:hover {
    cursor: pointer;
}